.container {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 20px;
  font-weight: bold;
}

.button {
  padding: 5px 10px;
  background-color: white;
  color: rgb(135, 76, 94);
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #ddd;
}
